body {
    margin: 0;
    padding: 0;
    background-image: url("/assets/img/fondotecno.jpg");
    background-size: auto;
    
}
#resultado {
    color: #fff;
    text-align: end;
    margin-right:-200px;
    padding: 0;
}